.home-page {
   
    .text-zone{
        position: absolute;
        left: 104px;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    #post-img {
        position: absolute;
        margin-left: 75%;
        top: 50%;
        transform: translateY(-50%);
        width: 47%;
        max-height: auto;
        z-index: -1;
        border-radius: 180px;
        border: 10px solid orange;
    }


    h1 {
        color: #fff;
        font-size: 49px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }

    h2 {
        color: rgb(246, 246, 246);
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 2.5s 2.5s backwards;
    }

    .flat-button {
        color: #8547c7;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #8547c7;
        margin-top: 25px;
        float: left;
        animation: fadeIn 2s 3s backwards;
        white-space: nowrap;
        border-radius: 4px;

        &:hover {
            background: #8547c7;
            color: orange;
        }
    }
    .flat-button2 {
        color: #8547c7;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #8547c7;
        margin-top: 25px;
        margin-right: 10px;
        float: left;
        animation: fadeIn 2s 3s backwards;
        white-space: nowrap;
        border-radius: 4px;

        &:hover {
            background: #8547c7;
            color: orange;
        }
    }

    .scroll-about {
       position: absolute;
       left: 104px;
       top: 100%;
       transform: translateY(-50%);
       width: 40%;
       max-height: 90%;
       
    }
    .scroll-project {
        position: absolute;
        left: 104px;
        top: 100%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        
     }
     .scroll-contact {
        position: absolute;
        left: 104px;
        top: 100%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        
     }


}